.container{
    background: url(sevval.jpg);
    height: 100vh;
    background-size: 100% 100%; /* ekrana resmin tam sığması için ölçeklendirme yaptık */

}
.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba( 98.04,92.16,84.31,0.4)
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar li a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;

}

.navbar li a.active,
.navbar li a:hover{
    background: #8b4513;
    border-radius: 20px;
}
.container .center {
    position:absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%,-50%);
} 
.center label{
    color: #8b4513;
    font-size: 45px;
}
.container button{
    color: #8b4513;
    font-size: large;
    border-radius: 20px;
}
.container input{
    color: #8b4513;
    font-size: large;
    border-radius: 20px;
}